.post {
    border-radius: 15px;
    background-color: #ffffff;
    padding: 40px;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
    max-width: 600px;
    margin: 0 auto 20px;
    position: relative;

    .user {
        display: flex;
        flex-direction: row;

        .avatar {
            border-radius: 50%;
            background: #efeefe;
            width: 50px;
            height: 50px;
            margin-right: 10px;
            position: relative;

            &::after {
                content: '';
                display: block;
                background: linear-gradient(180deg, rgba(0, 0, 0, 0) 20%, rgba(0, 0, 0, 0.05) 100%);
                position: absolute;
                width: 100%;
                height: 100%;
                top: 0;
                bottom: 0;
                right: 0;
                left: 0;
                border-radius: 50%;
            }
        }
    }

    img {
        width: 100%;
    }

    .settings {
        position: absolute;
        top: 40px;
        right: 40px;
        background: url(../../assets/settings.svg) no-repeat center;
        width: 20px;
        height: 20px;
        opacity: 0.6;
        cursor: pointer;
    }
}