<article class="post">
  <div class="user">
    <div class="avatar"></div>
    <p>{{post.author}}</p>
  </div>
  <p *ngIf="post.updatedAt">Update: {{updatedAt}}</p>
  <h3 class="title">{{post.title}}</h3>
  <p>{{post.description}}</p>
  <p>Posted: {{createdAt}}</p>
  <img src={{post.image}} />
  <div class="likes">
    <img [ngClass]="{'active': post.didILike}" class="like-button" src="../../assets/like.svg" (click)="clickLike()" />
    <span *ngIf="post.likes > 0">{{post.likes}}</span>
  </div>
  <div *ngIf="post.admin" class="settings" (click)="edit.emit()"></div>
</article>