.layout {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,0.5);
    
    .container {
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    .content {
        background-color: white;
        max-width: 600px;
        width: 100%;
        margin: auto;
        padding: 40px;
        border-radius: 10px;
        box-shadow: 0 0 3px rgba(0,0,0,0.3);
        position: relative;
        overflow-y: auto;

        .title-add-post {
            color: #393b6b;
            margin-bottom: 40px;
        }

        .exit {
            position: absolute;
            right: 40px;
            top: 40px;
            cursor: pointer;
        }

        .post-form {
            display: flex;
            flex-direction: column;

            textarea, input[type="text"] {
                border: none;
                outline: none;
                box-shadow: inset 2px 2px 1px rgba(0,0,0,0.1), 0 0 2px rgba(0,0,0,0.4);
                padding: 10px;
                margin-bottom: 20px;
            }

            textarea {
                max-width: 100%;
                min-width: 100%;
            }

            input[type='file'] {
                margin-bottom: 20px;
            }

            .publish-update {
                max-width: 200px;
                width: 100%;
                height: 35px;
                margin: auto;
            }

            .manage-img {
                max-width: 600px;
                
                img {
                    width: 100%;
                }
            }

            .error-message {
                color: #a52a2a;
            }

            .group > *{
                width: 100%;
            }
        }
    }
}

.container {
    max-width: 1000px;
    height: 100%;
    margin: auto;

    @media (max-width: 1039px)  {
        padding: 0 20px;
    }
}