<section>
  <div class="content">
    <div class="logo">
      <img class="logo" src="../../assets/logo.svg" />
    </div>
    <form #userForm="ngForm" (ngSubmit)="userForm.form.valid && onSubmit(userForm.value)"
      class="form-login">

      <div *ngIf="errorRequest">
        <p class="error-message">{{this.messageError}}</p>
      </div>

      <div class="name-group group" *ngIf="typeMethod == 'sign-up'">
        <div class="invalid-feedback" *ngIf="userForm.submitted && name.invalid">
          <p *ngIf="name.errors?.required" class="error-message">Name is required</p>
          <div *ngIf="name.errors?.minlength" class="error-message">Name should be at least 2 characters long</div>
        </div>
        <input type="text" name="name" placeholder="Full Name" [(ngModel)]="model.name" required #name="ngModel"
          minlength="2" />
      </div>

      <div class="name-group group">
        <div class="invalid-feedback" *ngIf="userForm.submitted && email.invalid">
          <p *ngIf="email.errors?.required" class="error-message">Email is required</p>
          <div *ngIf="email.errors.email || email.errors.pattern" class="error-message">Must be a valid email address
          </div>
        </div>
        <input type="email" name="email" placeholder="Email" [(ngModel)]="model.email" email required #email="ngModel"
          pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,4}$" />
      </div>

      <div class="name-group group">
        <div *ngIf="userForm.submitted && password.invalid" class="invalid-feedback">
          <div *ngIf="password.errors?.required" class="error-message">Password is required</div>
          <div *ngIf="password.errors?.minlength" class="error-message">Password should be at least 6 characters long
          </div>
        </div>
        <input type="password" name="password" placeholder="Password" [(ngModel)]="model.password" #password="ngModel"
          minlength="6" required />
      </div>

      <button>{{ typeMethod === 'sign-up' ? 'Sign up' : 'Login' }}</button>
    </form>
  </div>
  <p class="change-method-login"><a (click)="changeTypeMethod()">{{typeMethod == 'sign-up' ? 'Sign In' : 'Sign Up'}}</a>
  </p>
</section>