header {
    height: 60px;
    padding-top: 10px;
    box-shadow: 0 0 3px rgba(0,0,0,0.4);

    .container {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }

    .logo {
        height: 80%;
        margin: auto 0;
    }

    .right-side {
        display: flex;
        flex-direction: row;
        align-items: center;

        .user {
            display: flex;
            flex-direction: row;
    
            .avatar {
                border-radius: 50%;
                background: #f7f9fe;
                width: 50px;
                height: 50px;
                margin-right: 10px;
                position: relative;
    
                &::after {
                    content: '';
                    display: block;
                    background: linear-gradient(180deg, rgba(0, 0, 0, 0) 20%, rgba(0, 0, 0, 0.05) 100%);
                    position: absolute;
                    width: 100%;
                    height: 100%;
                    top: 0;
                    bottom: 0;
                    right: 0;
                    left: 0;
                    border-radius: 50%;
                }
            }
        }
    
        .settings {
            background: url(../../assets/settings.svg) no-repeat center;
            width: 20px;
            height: 20px;
            margin-left: 20px;
            cursor: pointer;
            position: relative;

            .dropdown-logout {
                position: absolute;
                top: 100%;
                opacity: 0;
                height: 0;
                right: -50%;
                width: 100px;
                background-color: white;
                box-shadow: 0 0 10px rgba(0,0,0,0.2);
                padding: 10px 0;
                text-align: center;
                border-radius: 5px;

                transition: 0.5s all;

                &:hover, &:active, &:focus {
                    background-color: #fefefe;
                }
            }

            &:hover .dropdown-logout, &:active .dropdown-logout, &:focus .dropdown-logout {
                opacity: 1;
                height: 42px;
                z-index: 1;
            }
        }
    }

}

.feed {
    padding-top: 50px;
    background-color: #eeeeee;
    padding-bottom: 20px;
    min-height: calc( 100% - 60px - 10px );
    position: relative;
    
    .content-container {
        max-width: 600px;
        margin: auto auto 20px;

        .feed-title {
            margin-bottom: 20px;
            color: #393b6b;
        }

        .add-post {
            background-color: transparent;
            border: 1px solid rgba(0,0,0,0.4);
            width: 90px;
            height: 40px;
            cursor: pointer;

            &:hover {
                background-color: white;
            }
        }
    }

    .error {
        text-align: center;
        color: #424a52;
    }
}

.container {
    max-width: 1000px;
    height: 100%;
    margin: auto;

    @media (max-width: 1039px)  {
        padding: 0 20px;
    }
}