<header>
  <div class="container">
    <div class="left-side">
      <img class="logo" src="../../assets/logo.svg" />
    </div>
    <div class="right-side">
      <div class="user">
        <div class="avatar"></div>
        <p>Name</p>
      </div>
      <div class="settings">
        <div class="dropdown-logout">
          <a (click)="logout()">Logout</a>
        </div>
      </div>
    </div>
  </div>
</header>

<section class="feed">
  <div class="container">
    <div class="content-container">
      <h1 class="feed-title">Feed</h1>
      <button class="add-post" *ngIf="!loading" (click)="showAddPostPopup()">Add Post</button>
      <p *ngIf="!loading && error" class="error">Oops! The Data Could Not Be Found</p>
    </div>

    <app-loading *ngIf="loading"></app-loading>
    <app-post *ngFor="let post of feed.posts" [post]="post" (edit)="showEditPostPopup(post)"></app-post>
  </div>
</section>

<app-add-update-post [show]="showPopup" [type]="typePopup" (exit)="closePopup()" [post]="postToEdit"></app-add-update-post>